@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination {
  top: 0 !important;
  bottom: unset !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #414141;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-black dark:bg-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-black dark:text-white;
}
